
*{
    background-color:rgb(255, 255, 255);
    font-family: 'Cinzel';
}

.navbar-expand-lg{
    margin:0%;
}
.nav-var .navbar-expand-lg .container-fluid .container-header .content-header{
    margin-top: 0px;
    padding-top: 0px;
}
.btn-success {
    color: rgb(255, 0, 0);
    background-color: #198754;
    border-color: #198754;
    border: none;
}
.nav-item{
    padding-left: 3vw;
}
.navbar{
    border-radius: 1.3vw;
    border: none
    
     
}
.collapse{
    margin-left: 0vw;
}
header{
    margin-left: 18vw;
    margin-right: 20vw;
}
#li-menu{
    padding-left:1vw !important;
}
#li-registrate{
    padding-left: 28.5vw;
    padding-right: 1vw !important;
}
#li-carrito{
    padding-left:0;
    padding-right: 0;
}
ul{
    
    border-radius: 1.3vw;
}
svg{
    color: #ffffff;
}
