* {
  font-family: "Rockwell";
}

h1 {
  font-family: "Rockwell";
}

h2 {
  font-family: "Rockwell";
}

h3 {
  font-family: "Rockwell";
}

.imagen {
  display: block;
  margin: auto;
}

.titulo {
  text-align: center;
}

.slogan {
  text-align: center;
}

.texto {
  text-align: justify;
}
