<body>
  <app-login></app-login>
  <app-registro></app-registro>
  <div class="uno">
    <app-header></app-header>
  </div>
  <div class="album py-5 bg-light">
    <div class="container" alt="max-width: 100%">
      <h1 class="titulo">CONÓCENOS</h1>
      <img class="imagen" src="../../assets/imagen pizza.png" alt="pizza">
      <h2><br> NUESTRO COMPROMISO</h2>
      <h3 class="slogan">"Mejores Ingredientes, Mejor Pizza" <br> Eso es lo que nos hace diferentes</h3>
      <p class="texto">El secreto del éxito se asemeja bastante a hacer una mejor pizza, cuanto más empeño pongas, mejor
        será el resultado. Hoy en día, buscamos la perfección como lo venimos haciendo desde el momento en que
        inauguramos nuestro primer restaurante hace más de 30 años. Hoy mantenemos el deseo de ser los mejores en
        preparar nuevos productos y nuevas e innovadoras recetas.
        La calidad es esencial para nosotros. Ha sido nuestra base desde la primera pizza que preparamos en nuestro
        primer local en Jeffersonville, IN, hasta las que hacemos hoy en día en los más de 5,000 restaurantes en 44
        países y territorios alrededor del mundo.
        Desde nuestra salsa exclusiva, nuestros ingredientes, nuestra masa fresca original e incluso en la caja,
        invertimos para ofrecerte siempre la mejor pizza.
        Sabemos que para ti, no es solo una mejor pizza. Es una reunión familiar, un cumpleaños inolvidable, una
        celebración de trabajo o simplemente una gran comida. Nuestro objetivo es garantizar que siempre tengas los
        mejores ingredientes para cada ocasión.
      </p>
      <h3><br>RESPONSABILIDAD</h3>
      <p class="texto">Hacemos lo que decimos, cuando decimos que lo haremos.
        Nos hemos ganado el derecho de llevar a otros a un nivel de responsabilidad superior ya que somos responsables
        ante nosotros mismos, nuestros clientes y nuestros socios comerciales.
      </p>
      <h3><br>SUPERIORIDAD</h3>
      <p class="texto">Hacemos lo que decimos, cuando decimos que lo haremos.
        Nos hemos ganado el derecho de llevar a otros a un nivel de responsabilidad superior ya que somos responsables
        ante nosotros mismos, nuestros clientes y nuestros socios comerciales.
      </p>
      <h3><br>ACTITUD</h3>
      <p class="texto">Si piensas que podrás hacerlo, ¡lo harás!. Si piensas que no podrás hacerlo, ¡no lo harás! La
        diferencia entre ganadores y perdedores es una actitud positiva. Nuestra actitud es un reflejo de las cosas que
        valoramos: los miembros de nuestro equipo deben ser optimistas, proactivos y apasionados en todo lo que hacen.
      </p>
      <h3><br>PERFECCIONAMIENTO CONSTANTE</h3>
      <p class="texto">Siempre intentamos superar nuestro logro anterior. Elevamos el listón constantemente. No importa
        cuán buenos seamos, siempre aspiramos a ser mejores.</p>
    </div>
  </div>
  <app-footer></app-footer>
</body>
