<body>
  <app-login></app-login>
  <app-registro></app-registro>
  <div class="uno">
    <app-header></app-header>
  </div>
  <div class="album py-5 bg-light">
    <div class="container" alt="max-width: 100%">
      <h1 class="titulo">CONÓCENOS</h1>
      <img class="imagen" src="../../assets/JoraStaff.jpg" alt="staff">
      <h2><br> NUESTRO STAFF</h2>
      <h3 class="slogan">"Algo muy bueno se está cocinando 🥘. Te invitamos a descubrir y explorar de nuestros nuevos sabores." <br> Eso es lo que nos hace diferentes</h3>
      <p class="texto">En JORA RESTOBAR somos una familia con visión a futuro, buscamos la excelencia en comida y servicio para brindar una excelente experiencia.
      </p>
      <h3><br>RESPONSABILIDAD</h3>
      <p class="texto">Hacemos lo que decimos, cuando decimos que lo haremos.
        Nos hemos ganado el derecho de llevar a otros a un nivel de responsabilidad superior ya que somos responsables
        ante nosotros mismos, nuestros clientes y nuestros socios comerciales.
      </p>
      <h3><br>SUPERIORIDAD</h3>
      <p class="texto">Hacemos lo que decimos, cuando decimos que lo haremos.
        Nos hemos ganado el derecho de llevar a otros a un nivel de responsabilidad superior ya que somos responsables
        ante nosotros mismos, nuestros clientes y nuestros socios comerciales.
      </p>
      <h3><br>ACTITUD</h3>
      <p class="texto">Si piensas que podrás hacerlo, ¡lo harás!. Si piensas que no podrás hacerlo, ¡no lo harás! La
        diferencia entre ganadores y perdedores es una actitud positiva. Nuestra actitud es un reflejo de las cosas que
        valoramos: los miembros de nuestro equipo deben ser optimistas, proactivos y apasionados en todo lo que hacen.
      </p>
      <h3><br>PERFECCIONAMIENTO CONSTANTE</h3>
      <p class="texto">Siempre intentamos superar nuestro logro anterior. Elevamos el listón constantemente. No importa
        cuán buenos seamos, siempre aspiramos a ser mejores.</p>
    </div>
  </div>
  <app-footer></app-footer>
</body>
