*{
    font-family: "Rockwell";
    font-size: 15px;
}
h1{
    font-family: "Rockwell";
}
.locales{
    text-align: center;
}
.ubicacion{
    fill: #1B8756;
}

.phone{
    fill: #1B8756;
}

.clock{
    fill: #1B8756;
}