<body>
  <app-login></app-login>
  <app-registro></app-registro>
  <div class="uno">
    <app-header></app-header>
  </div>
  <div class="album py-5 bg-light">
    <div>
      <h1 class="titulo"><br> MISIÓN, VISIÓN Y VALORES <br></h1>
      <div class="container">
        <div class="mision">
          <h2>Misión</h2>
          <p class="txtmision">
            Satisfacer el antojo de nuestros clientes,
            ofreciendo un producto de calidad, a través
            nuestro personal capacitado y comprometido, para brindar
            calidez de servicio, entrega oportuna y a su vez contribuyendo
            con el desarrollo económico del estado.
          </p>
        </div>
        <div class="misionimg">
          <img src="../../assets/misión.jpg" class="card-img-top" alt="...">
        </div>
        <div class="visionimg">
          <img id="vision" src="../../assets/vision.png" class="card-img-top" alt="...">
        </div>
        <div class="vision">
          <h3><br>Visión</h3>
          <p class="txtvision">
            Ser negocio líder en Ayacucho, haciendo la diferencia
            en cuanto a la calidad y valor agregado en nuestros productos,
            socialmente responsable cumpliendo con nuestras exigencias de
            rentabilidad, creatividad, comprometiéndonos en todo momento.
          </p>
        </div>
        <div class="valores">
          <h3><br>Valores</h3>
          <p class="txtvalores">
            Compromiso<br>
            Respeto<br>
            Amabilidad a nuestros clientes<br>
            Honestidad en precios y productos.<br>
          </p>
        </div>
        <div class="valoresimg">
          <img src="../../assets/valores.jpg" class="card-img-top" alt="...">
        </div>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
