<body style="background-color:#605B2A;">
  <app-login></app-login>
  <app-registro></app-registro>
  <div class="uno" style="background-color:#000000;">
    <app-header></app-header>
  </div>
  <div class="album py-5" style="background-color:#605B2A;">
    <div>
      <h1 class="titulo"><br> MISIÓN, VISIÓN Y VALORES <br></h1>
      <div class="container">
        <div class="mision">
          <h2>Misión</h2>
          <p class="txtmision">
            La meta propuesta va en juego con el propósito del 
            negocio, “Brindar un servicio innovador y de calidad 
            que busca brindar una experiencia memorable donde se 
            mezcla tradición y modernidad” y su visión, “Ser los 
            líderes del Mercado Gastronómico”.
          </p>
        </div>
        <div class="misionimg">
          <img src="../../assets/JoraHorno_Rezise.png" class="card-img-top" alt="...">
        </div>
        <div class="visionimg">
          <img id="vision" src="../../assets/JoraReclutamiento_Rezise.png" class="card-img-top" alt="...">
        </div>
        <div class="vision">
          <h2><br>Visión</h2>
          <p class="txtvision">
            La meta propuesta va en juego con el propósito del 
            negocio, “Brindar un servicio innovador y de calidad 
            que busca brindar una experiencia memorable donde se 
            mezcla tradición y modernidad” y su visión, “Ser los 
            líderes del Mercado Gastronómico”.
          </p>
        </div>
        <div class="valores">
          <h2><br>Valores</h2>
          <p class="txtvalores">
            Compromiso<br>
            Respeto<br>
            Amabilidad a nuestros clientes<br>
            Honestidad en precios y productos.<br>
          </p>
        </div>
        <div class="valoresimg">
          <img src="../../assets/JoraChilcano_Rezise.png" class="card-img-top" alt="...">
        </div>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
