<header>
  <nav>
    <div id="nagivator-container" class="{{headerActual}} ">
      <ul id="subNavigationReference" class="subnavigation--horizontal container">

        <li class="active">
          <button id="botton-1" class="{{estado1}}" (click)="activarBoton1()">
            <a href="#promociones"><img
                src="https://cdn-icons-png.flaticon.com/512/2286/2286182.png" alt=""></a>
            <a id="names" href="#promociones">MENÚ</a>
          </button>
        </li>

        <li class="">
          <button id="botton-2" class="{{estado2}}" (click)="activarBoton2()">
            <a href="#pizzas"><img src="../../assets/Icono-Delivery.png"
                alt=""></a>
            <a id="names" href="#pizzas">DELIVERY</a>
          </button>
        </li>

        <li class="">
          <button id="botton-5" class="{{estado5}}" (click)="activarBoton5()">
            <a href="#extras"><img src="https://cdn-icons-png.flaticon.com/512/1034/1034153.png"
                alt=""></a>
            <a id="names" href="#extras">CONTACTO</a>
          </button>
        </li>

        <li class="">
          <button id="botton-4" class="{{estado4}}" (click)="activarBoton4()">
            <a href="#bebidas"><img src="https://cdn-icons-png.flaticon.com/512/4185/4185325.png"
                alt=""></a>
            <a id="names" href="#bebidas">NOSOTROS</a>
          </button>
        </li>

        <li class="">
          <button id="botton-5" class="{{estado4}}" (click)="activarBoton5()">
            <a href="#bebidas"><img src="https://cdn-icons-png.flaticon.com/512/535/535239.png"
                alt=""></a>
            <a id="names" href="#bebidas">UBICANOS</a>
          </button>
        </li>

        <!---->
      </ul>

    </div>

  </nav>
</header>
