<header>
  <nav>
    <div id="nagivator-container" class="{{headerActual}} ">
      <ul id="subNavigationReference" class="subnavigation--horizontal container">

        <li class="active">
          <button id="botton-1" class="{{estado1}}" (click)="activarBoton1()">
            <a href="#promociones"><img
                src="https://dsnyk1xc1sxw4.cloudfront.net/media/catalog/category/promociones_1.svg" alt=""></a>
            <a id="names" href="#promociones">Promociones</a>
          </button>
        </li>

        <li class="">
          <button id="botton-2" class="{{estado2}}" (click)="activarBoton2()">
            <a href="#pizzas"><img src="https://dsnyk1xc1sxw4.cloudfront.net/media/catalog/category/Pizzas_1.svg"
                alt=""></a>
            <a id="names" href="#pizzas">Pizzas</a>
          </button>
        </li>

        <li class="">
          <button id="botton-5" class="{{estado5}}" (click)="activarBoton5()">
            <a href="#extras"><img src="https://dsnyk1xc1sxw4.cloudfront.net/media/catalog/category/Extras_1.svg"
                alt=""></a>
            <a id="names" href="#extras">Extras</a>
          </button>
        </li>

        <li class="">
          <button id="botton-4" class="{{estado4}}" (click)="activarBoton4()">
            <a href="#bebidas"><img src="https://dsnyk1xc1sxw4.cloudfront.net/media/catalog/category/Bebidas_1.svg"
                alt=""></a>
            <a id="names" href="#bebidas">Bebidas</a>
          </button>
        </li>

        <!---->
      </ul>

    </div>

  </nav>
</header>
