<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/0bb65a3cb0.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="card mb-4 box-shadow">
    <img class="card-img-top" data-src={{productItem.imgUrl}} alt="Card image cap">
    <div class="card-body d-flex flex-column">
      <h4 class="card-title"><b>{{productItem.nombre}}</b></h4>
      <p class="card-text">{{productItem.detalles}}</p>
      <div class="mt-auto d-flex justify-content-between">
        <div class="form-group">
          <select [(ngModel)]="Seleccionado" class="form-select" id="item">
            <option disabled selected>Seleccione un tipo</option>
            <option [ngValue]="i" *ngFor="let precio of productItem.precios let i=index">
              {{productItem.detallesPrecios[i]}} - {{productItem.precios[i] | currency:'PEN':'S/':'1.2-2'}}</option>
          </select>
        </div>
        <div>
          <button *ngIf="!logged" class="btn btn-success cart-button px-3" data-bs-toggle="modal" href="#loginCliente"
            role="button">
            <fa-icon [icon]="faShoppingCart"></fa-icon><span> Añadir al carrito</span>
          </button>
          <button *ngIf="logged" class="btn btn-success cart-button px-3" (click)="capturarPrecio()"
            (click)="AddToCart()">
            <fa-icon [icon]="faShoppingCart"></fa-icon><span> Añadir al carrito</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
