<div class="modal fade" id="carrito" tabindex="-1" aria-labelledby="tituloVentana" aria-hidden="true">

  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <style>

      </style>
      <div class="modal-header">
        <h5 class="modal-title" id="modalLoginCliente">

          <h1><b>Carrito</b></h1>

        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container" alt="max-width: 100%">

          <div class="card mb-2" alt="max-width: 100%">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title"><b>Producto</b></h5>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body">
                  <h5 id="pu" class="card-title"><b>Precio Unitario</b></h5>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body">
                  <h5 id="cantidad" class="card-title"><b>Cantidad</b></h5>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body">
                  <h5 id="subtotal" class="card-title"><b>Subtotal</b></h5>
                </div>
              </div>
              <div class="col-md">
                <div class="card-body">
                  <h5 id="subtotal" class="card-title"><b></b></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" *ngFor="let item of cartItems">
              <app-cart-item [cartItem]="item"></app-cart-item>
            </div>
          </div>
          <div class="card mb-0" alt="max-width: 50%">
            <div class="row g-0">
              <div class="col-md-3">

              </div>
              <div class="col-md-3">
                <div class="card-body">
                  <h5 id="totaltitulo" class="card-title"><b>TOTAL</b></h5>
                </div>
              </div>

              <div class="col-md-4">
                <div style="text-align: right;" class="card-body">
                  <h5 id="total" class="card-title">{{cartTotal| currency:'PEN':'S/':'1.2-2'}}</h5>
                </div>
              </div>
              <div class="col-md-1">
                <div class="card-body">
                  <button id="boton" type="button" class="btn btn-success" (click)="enviarLista()"
                    (click)="confirmarPedido()" (click)="confirmarPedido()">Comprar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
