h1{
    font-family: "something wild";
    color:#161a1d ;
    font-size: 60px;
    text-align: center;
}
.sticky {
    position: fixed;
}
.container{
    background-color: #605B2A;
}

.card-body.d-flex.flex-column{
    background-color: #515050;
}



