<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-login></app-login>
  <app-registro></app-registro>
  <div class="uno">
    <app-header></app-header>
  </div>
  <div class="album py-5"style="background-color:#605B2A;">
    <div class="container" alt="max-width: 100%">
      <div class="card profile-card">

        <!--Background color-->
        <div class="card-up teal lighten-2" >
        </div>

        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img style="width:150px; height:150px; margin-top: 25px;"
            src="https://www.orlandosentinel.com/resizer/KJtgH9VrN5uj6XGjkPiFH8PUR8E=/1200x630/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/tronc/JVJENQC4IVCFDBLYYDVBWKZJNY.jpg" alt="avatar mx-auto white"
            class="rounded-circle img-fluid">
        </div>

        <div class="card-body">
          <!--Name-->
          <h4 style="text-align: center;" class="card-title mt-1">Bienvenido, {{usuarioLogeado.nombres}}
            {{usuarioLogeado.apellidos}}</h4>
          <hr style="margin: 10px;">
          <!--Quotation-->
          <p style="text-align: center; margin-top: 15px; margin-bottom: 0px">Gestiona tu información, la privacidad y
            la seguridad para mejorar tu experiencia en Jora Restobar</p>
        </div>

      </div>

      <div style="margin: 15px;"></div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">INFROMACIÓN BÁSICA</h4>
          <div>
            <div style="margin: 15px 0px 10px 0px;">
              <div style="margin: 20px;">
                <div class="row g-0">
                  <div class="col-md-2">Nombre: </div>
                  <div class="col-md-6">{{usuarioLogeado.nombres}}</div>
                </div>
              </div>
            </div>

            <div style="margin: 10px 0px 10px 0px;">
              <div style="margin: 20px;">
                <div class="row g-0">
                  <div class="col-md-2">Fecha de nacimiento: </div>
                  <div class="col-md-6">{{usuarioLogeado.fechaNacimiento}}</div>
                </div>
              </div>
            </div>

            <div style="margin: 10px 0px 10px 0px;">
              <div style="margin: 20px;">
                <div class="row g-0">
                  <div class="col-md-2">DNI: </div>
                  <div class="col-md-6">{{usuarioLogeado.numeroDni}}</div>
                </div>
              </div>
            </div>

            <div style="margin: 10px 0px 10px 0px;">
              <div style="margin: 20px;">
                <div class="row g-0">
                  <div class="col-md-2">Contraseña: </div>
                  <div class="col-md-6">{{usuarioLogeado.contrasenia}}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div style="margin: 15px;"></div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">INFORMACION DE CONTACTO</h4>
          <div>
            <div style="margin: 15px 0px 10px 0px;">
              <div style="margin: 20px;">
                <div class="row g-0">
                  <div class="col-md-2">Correo: </div>
                  <div class="col-md-6">{{usuarioLogeado.correo}}</div>
                </div>
              </div>
            </div>

            <div style="margin: 10px 0px 10px 0px;">
              <div style="margin: 20px;">
                <div class="row g-0">
                  <div class="col-md-2">Teléfono: </div>
                  <div class="col-md-6">{{usuarioLogeado.numeroTelefono}}</div>
                </div>
              </div>
            </div>

            <div style="margin: 10px 0px 10px 0px;">
              <div style="margin: 20px;">
                <div class="row g-0">
                  <div class="col-md-2">Dirección: </div>
                  <div class="col-md-6">{{usuarioLogeado.direccion}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</body>


</html>
